<!DOCTYPE html>
{%extends 'accounts/base.html'%}
{%block body_block%}




<div class="container" align="center">
  <h1>Const Stay Tuned;</h1>
  <h3>Create a Profile/Portfolio,Share Post and get help from geeks</h3>



</div>



    <div class="container" align='center'>


      <a href="https://www.facebook.com/sharer/sharer.php?u=http://CodingForEntrepreneurs.com/">
     Facebook
    </a>

    <a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20http://codingforentrepreneurs.com/">
     Twitter
    </a



    <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://swiftforentrepreneurs.com/&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source=http://swiftforentrepreneurs.com/">
     Linkedin
    </a>

    </div>
    <br>

    <div class="container" align='center'>
    <a href="/account/dashboard" class='btn btn-success btn-lg'>Create Profile</a>
   </div>


{%endblock%}
