<!DOCTYPE html>
{% extends 'accounts/base.html' %}
{%block body_block%}

    <div class="container">
      <h1>{{user}} Information</h1>
         <h2>Firstname:{{user.first_name}}</h2>
          <h2>Email id:{{user.email}}</h2>
          <h2>Gender:{{user.userprofilemodel.gender}}</h2>
          <h2>Age:{{user.userprofilemodel.age}}</h2>
          <h2>Professional Status:{{user.userprofilemodel.professional_status}}</h2>
          <h2>Company:{{user.userprofile.company}}</h2>
          <h2>Website:{{user.userprofile.website}}</h2>
          <h2>Location:{{user.userprofile.location}}</h2>
          <h2>Skills:{{user.userprofile.skills}}</h2>
          <h2>Github Username:{{user.userprofile.github_username}}</h2>
          <h2>Short Bio:{{user.userprofile.short_bio}}</h2>
          <h2></h2>
        {% if user.userprofile.image %}
        <img src="{{ user.userprofile.image.url }}" width="240" height="200">
        {% endif %}

    </div>
{%endblock%}
